<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Gestionar Equipos</h6>
        <div class="table-responsive" style="zoom: 90%;">
          <table id="dataTableExample" class="table">
            <thead>
              <tr>
                <th>Img Principal</th>
                <th>Nombre</th>
                <th>Código</th>
                <th>Tipo Equipo</th>
                <th>Categoría</th>
                <th>Equipo Superior</th>
                <th>Acciones</th>
              </tr>
            </thead>


            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
